body {
  background-color: hsl(0, 3%, 88%);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 2px 2px 5px hsl(0, 0%, 43%);
  text-align: center;
}
.card h1 {
  font-size: 2rem;
  color: hsl(0, 0%, 15%);
}
#generate-btn {
  padding: 10px 20px;
  background-color: rgb(15, 143, 64);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-bottom: 30px;
}
#generate-btn:hover {
  background-color: rgb(11, 107, 48);
  cursor: pointer;
}
#generate-btn:active {
  background-color: rgb(17, 187, 82);
  cursor: pointer;
}
.palette {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.color-box {
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  color: hsl(0, 0%, 25%);
  font-weight: 500;
}

.color-box:hover {
  transform: translateY(-5px);
}

.color {
  border-radius: 10px;
  height: 120px;
  width: 120px;
  cursor: pointer;
}
.color-info {
  background-color: #fff;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
}

.hex-value {
  font-weight: 500;
  letter-spacing: 0.5px;
}
.color-box.copied .hex-value {
  color: green;
  font-weight: bold;
}
